[user]
	name = Heikki Hokkanen
	email = hoxu@users.sf.net
[alias]
	st = status
	staged = diff --cached
	outgoing = log @{u}..
	outgoing-all = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
	incoming = log ..@{u}
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	purr = pull --rebase
[color]
	ui = true
[core]
	quotepath = false
[push]
	default = simple
[grep]
	lineNumber = true
